.is-collapsed {
	display: none;
}
/*This applies to nav lists*/

.is-open {

}
/*This applies to nav toggle*/

.is-closed {

}
/*This applies to nav toggle*/
.u-float-right {
	float: right;
}
/*This is a utility rule for float right*/
.u-float-left {
	float: left;
}
/*This is a utility rule for float left*/